.background {
	width: 100%;
	position: relative;
	background: #523199;
	align-content: center;
	height: 100vh;
	overflow: hidden;
}

.vertical-line {
	width: 2px;
	height: 100vh;
	background-color: white;
    margin: 0 auto;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}