.background {
	width: 100%;
	position: relative;
	background: #523199;
	align-content: center;
	height: 100vh;
}
@media only screen and (max-width: 1919px) {
	.background {
	  height: 150vh;
	}
}

.vertical-line {
	position: absolute;
	left: 75%;
	width: 2px;
	height: 96%;
	top: 2%;
	background-color: #E2A5FF;
    margin-left: 0%
}