.avatar-border-icon {
  height: 2.813rem;
  width: 2.813rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.avatar-border-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-3xl) 0 var(--padding-4xl);
}
.profile-name2 {
  height: 0.563rem;
  width: 0;
  position: relative;
  line-height: 0.563rem;
  display: inline-block;
}
.avatar-233,
.recipient-name {
  display: flex;
  justify-content: flex-start;
}
.recipient-name {
  width: 0.563rem;
  height: 0.563rem;
  border-radius: var(--br-8xs-5);
  background-color: var(--color-limegreen-200);
  border: 1.5px solid var(--color-white);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-12xs-4) var(--padding-10xs) 0 var(--padding-8xs);
}
.avatar-233 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-31xl);
  background-color: var(--color-limegreen-100);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-3xl-1) 0 var(--padding-12xs-8);
  gap: var(--gap-sm-1);
  z-index: 1;
}
.award-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  text-align: left;
  font-size: var(--font-size-4xs);
  color: var(--color-white);
  font-family: var(--font-manrope);
  
}
