.boost-card {
	position: relative;
	width: 319px;
	height: 356px;
	text-align: center;
	font-size: var(--font-size-mini);
	color: var(--color-white);
	font-family: var(--font-manrope);
}
.boost-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	
	transition: transform 0.8s;
	transform-style: preserve-3d;
	background-color: #6B41B3;
	border-radius: 10px;
}

.boost-card:hover .boost-card-inner {
	transform: rotateY(180deg);
}
.boost-card-front, .boost-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.boost-card-front {
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	flex-direction: column;
	/* Ensures elements inside are stacked vertically */
}
.boost-card-header {
	height: fit-content;
	padding: 10px;
	height: 15%;
	display: flex;
	align-items: center;
}
.boost-card-back {
	transform: rotateY(180deg);
	text-align: center;
}

.boost-card-name {
	top: 50%;
	display: flex;
	align-items: center;
	margin-left: 10px;
	font-size: var(--font-size-mini);
	color: var(--color-white);
	font-size: 1.2em;
	align-items: center;
	
}
.boost-card-profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.boost-avatar-container {
	display: flex;
	height: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: var(--br-31xl);
	background-color: var(--color-limegreen-100);
	overflow: hidden;
	font-size: var(--font-size-4xs);
	margin-right: 10px;
	float: left;
}

.boost-card-text-container {
	height: 80%;
	width: 92.79%;
	top: 16.29%;
	left: 4.7%;
	font-size: var(--font-size-sm);
	line-height: 20px;
	color: var(--color-lavender);
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
}

.boost-card {
	position: relative;
	width: 319px;
	height: 356px;
	text-align: left;
	font-size: var(--font-size-mini);
	color: var(--color-white);
	font-family: var(--font-manrope);
	backdrop-filter: blur(35px);
}

span {
	text-overflow: ellipsis;
}

.boost-card-message-body-text {
	white-space: pre-wrap;
	position: relative;
	width: 100%;
	height: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 1.1em;
	/* display: inline-block; */
}