.boost-card {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: var(--font-size-mini);
	color: var(--color-white);
	font-family: var(--font-manrope);
	padding-right: 30px;
}
.boost-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	background-color: #6B41B3;
	border-radius: 10px;
}

.boost-card:hover .boost-card-inner {
	transform: rotateY(180deg);
}
.boost-card-front, .boost-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.boost-card-front {
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	flex-direction: column;
	/* Ensures elements inside are stacked vertically */
}
.boost-card-header {
	height: fit-content;
	padding: 10px;
	height: 15%;
	display: flex;
	align-items: center;
}
.boost-card-back {
	transform: rotateY(180deg);
	text-align: center;
	justify-content: center;
	align-items: center;
}
.boost-card-value::first-letter {
	text-transform: capitalize;
}

.boost-card-name {
	top: 50%;
	display: flex;
	align-items: center;
	margin-left: 10px;
	font-size: var(--font-size-mini);
	color: var(--color-white);
	font-size: 1.2em;
	align-items: center;
}
.boost-card-profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.boost-card-text-container {
	height: 80%;
	width: 92.79%;
	top: 16.29%;
	left: 4.7%;
	font-size: var(--font-size-sm);
	line-height: 20px;
	color: var(--color-lavender);
	display: inline-block;
	text-overflow: ellipsis;
	word-wrap: break-work;
	padding: 10px;
	overflow: hidden;
	
}

span {
	text-overflow: ellipsis;
}

.boost-card-message-body-text {
	white-space: pre-wrap;
	position: relative;
	width: 100%;
	height: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	word-wrap: break-word;
	font-size: 1.1em;
	padding: 10px;
	
	/* display: inline-block; */
}
.boost-avatar-container {
	display: flex;
	width: 3vw;
	/* Adjust percentage as needed */
	height: 3vw;
	/* This makes the height equal to the width, keeping it square */
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.boost-card-profile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.boost-card-value {
	font-size: 2em;
	padding-top: 5%;
}