.boost-card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.new-boost1 {
  position: absolute;
  height: 4.21%;
  width: 70.22%;
  top: 7.87%;
  left: 21%;
  line-height: 9px;
  display: inline-block;
}
.b9 {
  font-family: var(--font-manrope);
}
.just-boosted-people3 {
  margin: 0;
}
.here-is-the1 {
  margin: 0;
  white-space: pre-wrap;
}
.just-boosted-people-container3 {
  position: absolute;
  height: 44.94%;
  width: 92.79%;
  top: 15.73%;
  left: 3.76%;
  font-size: var(--font-size-sm);
  line-height: 20px;
  display: inline-block;
}
.frame-icon20 {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 24.48%;
  right: 25.17%;
  bottom: 25.52%;
  left: 24.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text20 {
  position: absolute;
  top: calc(50% - 4.1px);
  left: calc(50% + 0.8px);
  line-height: 9px;
}
.frame20 {
  position: absolute;
  right: 0.8px;
  bottom: 0.8px;
  border-radius: var(--br-8xs-5);
  background-color: var(--color-limegreen-200);
  border: 1.5px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 9px;
  height: 9px;
}
.image-12-icon1 {
  height: 248.28%;
  width: 248.28%;
  top: -75.86%;
  right: -72.41%;
  bottom: -72.41%;
  left: -75.86%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.avatar-205,
.boost-card-item,
.image-12-icon1 {
  position: absolute;
  overflow: hidden;
}
.avatar-205 {
  height: 8.15%;
  width: 9.09%;
  top: 5.34%;
  right: 82.45%;
  bottom: 86.52%;
  left: 8.46%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-31xl);
  background-color: var(--color-limegreen-100);
  font-size: var(--font-size-4xs);
  color: var(--color-gainsboro-200);
}
.boost-card-item {
  height: 34.55%;
  width: 38.56%;
  top: 62.36%;
  right: 30.72%;
  bottom: 3.09%;
  left: 30.72%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.boost-card {
  position: absolute;
  height: 32.96%;
  width: 16.61%;
  top: 61.39%;
  right: 81.61%;
  bottom: 5.65%;
  left: 1.77%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-lavender);
  font-family: var(--font-manrope);
}