.earth-card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(35px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  border: 3px solid var(--color-gray-300);
  box-sizing: border-box;
}
.where-the-globe1 {
  position: absolute;
  width: 67.89%;
  top: 33.98%;
  left: 15.95%;
  line-height: 9px;
  display: inline-block;
}
.rectangle1 {
  backdrop-filter: blur(35px);
  border-radius: var(--br-5xl);
  background-color: var(--color-slateblue);
  border: 3px solid var(--color-gray-200);
  box-sizing: border-box;
}
.glassmorphism1,
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 179px;
}
.succesful-calls1,
.vector-icon1 {
  position: relative;
}
.vector-icon1 {
  width: 117px;
  height: 51px;
}
.ms1 {
  position: relative;
  font-size: var(--font-size-base);
}
.succesful-calls-group {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.glassmorphism-group {
  position: absolute;
  height: 34.96%;
  width: 55.39%;
  top: 58.98%;
  right: 22.41%;
  bottom: 6.05%;
  left: 22.2%;
  font-size: var(--font-size-5xl);
  color: var(--color-thistle);
  font-family: var(--font-inter);
}
.earth-card {
  position: absolute;
  top: 58px;
  left: 897px;
  width: 464px;
  height: 512px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-lavender);
  font-family: var(--font-manrope);
}
