.high5-container {
	position: absolute;
	height: 50%;
	width: 70%;
	top: 2%;
	left: 2%;
	backdrop-filter: blur(35px);
	border-radius: var(--br-11xl);
	background-color: #885CD0;
	border: 3px solid #885CD0;
	box-sizing: border-box;
}

.high5-title-text
{
  position: absolute;
  width: 50%;
  font-size: 2em;
	text-shadow: #ec7404 2px 2px 2px;
}

.high5-title-text {
  height: 10%;
  width: 100%;
  text-align: center;
  display: inline-block;
  color: white;
}

