.milestones-child {
  position: absolute;
  height: 100%;
  width: 150%;
  left: 1%;
  backdrop-filter: blur(35px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  border: 3px solid var(--color-gray-300);
  box-sizing: border-box;
}
.leaderboard,
.milestones {
  position: absolute;
  width: 50%;
}

.leaderboard {
  height: 11.72%;
  top: 5%;
  line-height: 30%;
  display: inline-block;
}
.milestones {
  top: 2%;
  left: 2%;
  height: 51%;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
  text-align: center;
}
