.leaderboard-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(35px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  border: 3px solid var(--color-gray-300);
  box-sizing: border-box;
}

.monthly-leaderboard {
  position: absolute;
  height: 6.8%;
  width: 100%;
  top: 4.27%;
  line-height: 26px;
  display: inline-block;
  text-align: center;
}

.leaderboard-container {
  position: absolute;
  top: 58px;
  left: 1409px;
  width: 482px;
  height: 515px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
