.leaderboard-card-container {
	top: 13.4%;
	bottom: 7.38%;
	left: 2.5%;
	position: relative;
	height: 50%;
	width: 65%;
	backdrop-filter: blur(35px);
	border-radius: var(--br-11xl);
	background-color: #885CD0;
	border: 3px solid var(--color-gray-300);
	box-sizing: border-box;
}
.leaderboard-card-topic {
	text-align: center;
	width: 100%;
	margin-bottom: 5%;
	padding-top: 5%;
}

.leaderboard-card-entry {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	align-items: center;
	justify-content: space-between;
	margin: -1%;
}
.rank {
	font-weight: bold;
	margin-right: 10px;
	min-width: 20px;
	text-align: center;
  }
  
  .leaderboard-entry {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  

  .leaderboard-entry {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
  }
  
  .entry-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
  }
  
  .entry-details {
	display: flex;
	flex-direction: column;
  }
  
  .entry-name {
	font-weight: bold;
  }
  
  .entry-score {
	font-size: 0.9em;
	color: #888;
  }