.milestones-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(35px);
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-100);
  border: 3px solid var(--color-gray-300);
  box-sizing: border-box;
}
.leaderboard,
.milestones {
  position: absolute;
  width: 801px;
}
.leaderboard {
  height: 11.72%;
  top: 5.08%;
  left: calc(50% - 400.5px);
  line-height: 30px;
  display: inline-block;
}
.milestones {
  top: 58px;
  left: 48px;
  height: 512px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}