.photo-gallery-container {
	width: 74%;
	height: 25vh;
	position: absolute;
	left: 2.5%;
	top: 65%;
	overflow: hidden
}

.photo-gallery-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	border-radius: var(--br-11xl);
	background-color: var(--color-gainsboro-100);
  	border: 3px solid var(--br-11xl);
	padding-top: 3%;
	padding-left: 1%;
}

.photo-gallery-container>* {
	margin-right: 30px;
}

.carousel-wrapper {
	display: flex;
	transition: transform 1s ease-in-out;
}

.carousel-wrapper.no-transition {
	transition: none;
}

.carousel-item {
	min-width: calc(90% / 13);
	height: 100%; 
	transition: transform 0.5s ease-in-out;
}