.photo-gallery-container {
	width: 76%;
	height: 25vh;
	position: absolute;
	left: 1.5%;
	top: 65%;
	overflow: hidden;
	right: 10%;
}

.photo-gallery-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
	border-radius: var(--br-11xl);
	background-color: #6B41B3;
  	border: 3px solid var(--br-11xl);
	width: 76%;
	height: 21.5%;
	padding-top: 0%;
	padding-bottom: 6%;
	padding-left: 0.01%;
	right: 10%;
}

.photo-gallery-container>* {
	margin-right: 30px;
}

.carousel-wrapper {
	display: flex;
	transition: transform 1s ease-in-out;
}

.carousel-wrapper.no-transition {
	transition: none;
}

.carousel-item {
	min-width: calc(95% / 13);
	height: 100% ; 
	transition: transform 0.5s ease-in-out;
}