.photo-gallery-container {
	background-color: transparent;
	width: 96%;
	height: 50vh;
	position: absolute;
	left: 2%;
	top: 58%;
}

.photo-gallery-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.photo-gallery-container>* {
	margin-right: 30px;
}

.carousel-wrapper {
	display: flex;
	transition: transform 1s ease-in-out;
}

.carousel-wrapper.no-transition {
	transition: none;
}

.carousel-item {
	min-width: calc(100% / 10.5);
	transition: transform 0.5s ease-in-out;
}