.simple-text-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.name-here15 {
  position: absolute;
  height: 10.51%;
  width: 39.4%;
  top: 7.3%;
  left: 15.67%;
  line-height: 9px;
  display: inline-block;
}
.frame-icon16 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text16 {
  position: absolute;
  top: calc(50% - 4.1px);
  left: calc(50% + 0.8px);
  line-height: 9px;
}
.frame16 {
  position: absolute;
  right: 0.8px;
  bottom: 0.8px;
  border-radius: var(--br-8xs-5);
  background-color: var(--color-limegreen-200);
  border: 1.5px solid var(--color-white);
  box-sizing: border-box;
  width: 9px;
  height: 9px;
}
.avatar-204 {
  position: absolute;
  height: 8.15%;
  width: 9.09%;
  top: 5.62%;
  right: 86.21%;
  bottom: 86.24%;
  left: 4.7%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-31xl);
  background-color: var(--color-limegreen-100);
  overflow: hidden;
  font-size: var(--font-size-4xs);
}
.b6 {
  font-family: var(--font-manrope);
}
.just-boosted-people2 {
  margin: 0;
}
.simple-text-message-body-container {
  position: absolute;
  height: 75%;
  width: 92.79%;
  top: 16.29%;
  left: 4.7%;
  font-size: var(--font-size-sm);
  line-height: 20px;
  color: var(--color-lavender);
  display: inline-block;
}
.simple-text {
  position: relative;
  width: 319px;
  height: 356px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-manrope);
  backdrop-filter: blur(35px);
}
.simple-text-message-body-text {
	white-space: pre-line;
	position: relative;
	width: 100%;
	height: 100%;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
.simple-text-message-body-text b {
	background-color: red;
}